Django~=6.0
djangorestframework~=3.16.1
python-dotenv~=1.2.1
cryptography~=46.0.3
djangorestframework_simplejwt~=5.5.1
drf-yasg~=1.21.11
PyJWT~=2.10.1
argon2-cffi~=25.1.0
drf_spectacular~=0.29.0
pillow
psycopg2
psycopg2-binary